h1 {color:purple; font-size:50px; border-style: solid; border-color: purple}
h2 {color:purple; font-size:35px;}
body{
  background-color: lavender
}
/* Set height of body and the document to 100% to enable "full page tabs" */
