h1 {color:limegreen; font-size:50px; border-style: solid; border-color: limegreen}
h5 {color:orange; font-size:50px; border-style: solid; border-color: orange}
h2 {color:purple; font-size:35px;}
h3 {color:mediumorchid; font-size:25px;}
h3 {color:blue; font-size:25px;}
h7 {color:limegreen;font-size:25px;}
h8 {color:red;font-size:25px}
h4 {color:mediumorchid; font-size:25px;}
h6 {color:indigo}

body{
  background-color: mintcream
}
p {
  margin: 35px 150px 50px 150px;
}
h2 {
  margin: 35px 150px 50px 150px;
}
h3 {
  margin: 35px 150px 50px 150px;
}
h5 {
  margin: 35px 150px 50px 150px;
}
h6 {
  margin: 35px 150px 50px 150px;
}

div.header img {
  float: left;
  width: 90px;
  height: 62px;
  background: #555;
}
div.indiapic1 img {
  float: none;
  width: 450px;
  height: 200px;
  background: #555;
}
div.indiapic2 img {
  float:none;
  width: 475px;
  height: 200px;
  background: #555;
}
div.indiapic3 img {
  float:none;
  width: 425px;
  height: 200px;
  background: #555
}

div.indiapic4 img {
  float:none;
  width: 425px;
  height: 250px;
  background: #555
}

div.mexicopic img {
  float:none;
  width: 425px;
  height: 200px;
  background: #555;
}

div.mexicopic2 img {
  float:none;
  width: 325px;
  height: 400px;
  background: #555;
}

div.mexicopic3 img {
  float:none;
  width: 400px;
  height: 200px;
  background: #555;
}

div.pakistanpic img{
  float:none;
}

div.pakistanpic2 img{
  float:none;
}

div.nigeriapic img{
  float:none;
  width: 300px;
  height: 200px;
}

.header h1 {
  position: left;
  top: 18px;
  left: 10px;
}
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: purple;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
